*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.tmp/
/target/
/mpcellphone.logic/target/
/mpcellphone.web/target/

#NetBeans
nbactions.xml
/mpcellphone.web/nb-configuration.xml

#Tests
/mpcellphone.logic/derby.log
/mpcellphone.web/derby.log

