<!-- autor: jb.del10 -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <!-- DATOS DEL PRODUCTO 
    <form class="form-horizontal">    
        <fieldset>
            <legend>Product Data</legend>
            
            <!-- Nombre del producto 
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Product Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="name" placeholder="name" ng-model="product.name" ng-required>
                </div>
            </div>
            
            <!-- Precio 
            <div class="form-group">
                <label for="price" class="col-lg-2 control-label">Price</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="price" placeholder="price" ng-model="product.price" ng-required>
                </div>
            </div>
            
            <!-- Porcentaje descuento 
            <div class="form-group">
                <label for="discount" class="col-lg-2 control-label">Discount</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="name" placeholder="discount" ng-model="product.discount" ng-required>
                </div>
            </div>
            
            <!-- Categoría 
            <div class="form-group">
                <label for="category" class="col-lg-2 control-label">Category</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="category" placeholder="category" ng-model="product.category" ng-required>
                </div>
            </div>
        </fieldset>
    </form>
    -->
    <!-- DATOS DEL CELULAR -->
    <form class="form-horizontal">
        <fieldset>
            <legend>Cellphone Data</legend>
            
            <!-- Marca -->
            <div class="form-group">
                <label for="brand" class="col-lg-2 control-label">Brand</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="brand" placeholder="brand" ng-model="cellphone.brand" ng-required>
                </div>
            </div>
            
            <!-- Modelo del equipo -->
            <div class="form-group">
                <label class="col-lg-2 control-label" for="model">Model</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="model" placeholder="model" ng-model="cellphone.model">
                </div>
            </div>
            
            <!-- Nombre del equipo -->
            <div class="form-group">
                <label class="col-lg-2 control-label" for="name">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="name" placeholder="name" ng-model="cellphone.name">
                </div>
            </div>
            
            <!-- IMEI -->
            <div class="form-group">
                <label class="col-lg-2 control-label" for="imei">Imei</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="imei" placeholder="imei" ng-model="cellphone.imei">
                </div>
            </div>
            
            <!-- Fecha de publicación -->
            <div class="form-group">
                <label class="col-lg-2 control-label" for="publicationdate">Publication date</label>
                <div class="col-lg-10">
                    <input class="form-control" type="date" id="publicationdate" placeholder="publicationdate" ng-model="cellphone.publicationdate">
                </div>
            </div>
            
            <!-- Breve descripción -->
            <div class="form-group">
                <label class="col-lg-2 control-label" for="description">Description</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="description" placeholder="description" ng-model="cellphone.description">
                </div>
            </div>
            
            <!-- Botones -->
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Clean Data</button>
                <button type="submit" class="btn btn-primary" ng-click="submitCellphoneData()">Save</button>
              </div>
            </div>
        </fieldset>
    </form>
</div>