<div>
    <div class="panel panel-primary" style="float: left; width: 48%;">
        <div class="panel-heading">
            <h3 class="panel-title">Shipping Info</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Country: {{shippingData.country}}</li>
                <li>State: {{s}}</li>
                <li>City: {{c}}</li>
                <li>Address: {{shippingData.address}}</li>
                <li>Estimated Time: {{shippingData.stimatedTime}}</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success" style="float: right; width: 50%;">
        <div class="panel-heading">
          <h3 class="panel-title">Payment Info</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>Payment Method: {{payment.creditCardHolder}}</li>
                <li>Card Number: {{payment.cardNumber}}</li>
                <li>SVC: {{payment.cardCode}}</li>
                <li>Bank: {{payment.clientBankName}}</li>
                <li>Total Sale: {{totalC}}</li>
            </ul> 
        </div>
    </div>
    <button style="margin-left: 46%; margin-top: 1%;" class="btn btn-info" ng-click="pay()">Pay</button>
    <button style="margin-left: 1%; margin-top: 1%;" class="btn btn-danger" ng-click="finish()">Cancel</button>  
    <div class="modal" id="modalPay">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                  <h4 class="modal-title">Process End</h4>
                </div>
                <div class="modal-body">
                  <p>Payment Success</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="finish()">Ok!</button>
                </div>
            </div>
        </div>
    </div>
</div>