<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Products To Buy</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody ng-repeat="n in cartItems">
                  <tr>
                    <td>{{n.name}}</td>
                    <td>{{n.quantity}}</td>
                  </tr>
                </tbody>
            </table>
             <div class="form-group">
                <label class="col-lg-10 col-lg-offset-2">Total Sale: {{totalCompra}} </label>
            </div>
        </div>
    </div>
    
    <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Payment Info</h3>
        </div>
        <div class="panel-body">
            <div style="text-align: center;">
                <button type="submit" class="btn btn-info" name="paymentType" id="pse" ng-click="changePayment($event)">PSE</button>
                <button type="submit" class="btn btn-warning" name="paymentType" id="creditCard" ng-click="changePayment($event)">Credit Card</button>
            </div>
            <div style="display:none" id="pseForm">
                <form class="form-horizontal" style="margin: 2% auto;">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="name">Name</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="Name" ng-model="payment.clientName"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="lastName">Last Name</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="Last Name" ng-model="payment.clientSurname"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="email">Email</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="Email" ng-model="payment.clientMail"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="id">Id</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="Identification" ng-model="payment.clientId"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="cellPhone">Cell Phone</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="Cell Phone" ng-model="payment.clientPhoneNumber"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="bank">Bank</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="Bank" ng-model="payment.clientBankName"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div style="display:none" id="creditCardForm">
                <form class="form-horizontal" style="margin: 2% auto;">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="titularName">Titular Name</label>
                            <div class="col-lg-10">
                                <input class="form-control" placeholder="Titular Name" type="text" ng-model="payment.clientCardName"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="creditCard">Credit Card</label>
                            <div class="col-lg-10">
                                <select class="form-control" ng-model="payment.creditCardHolder">
                                    <option>Select a Card Provider</option>
                                    <option ng-repeat="card in creditCardHolders" value="{{card.id}}">{{card.methodName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="cardNumber">Card Number</label>
                            <div class="col-lg-10">
                                <input class="form-control" placeholder="Card Number" type="text" ng-model="payment.cardNumber"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="cardExpiration">Card Expiration Date</label>
                            <div class="col-lg-10">
                                <input class="form-control" placeholder="Expiration Date" type="text" ng-model="payment.cardExpiration"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="cardCode">Card Code</label>
                            <div class="col-lg-10">
                                <input class="form-control" placeholder="Card Code" type="text" ng-model="payment.cardCode"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <button style="margin-left: 50%; margin-top: 1%;" class="btn btn-info" ng-click="submitPayment()">Next</button>
        </div>
    </div>
</div>
    