<div class="alert alert-dismissible alert-success hidden">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Ten en cuenta: </strong>
  <span ng-if="shippingTypeValue>0"> El costo de tu env&iacute;o es: {{shippingTypeValue}} </span> 
  <span ng-if="shippingTypeValue==0"> Tu env&iacute;o no tiene costo. </span>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <form class="form-horizontal">
        <fieldset>
            <legend>Shipping Data</legend>
            <div class="form-group">
                <label for="state" class="col-lg-2 control-label">Country</label>
                <div class="col-lg-10">
                    <input class="form-control" id="country" placeholder="Country" ng-model="shipping.country" ng-required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="country">State</label>
                <div class="col-lg-10">
                    <select class="form-control" id="state" ng-model="shipping.state" ng-change="onChangeCity()">
                        <option>Select a State</option>
                        <option ng-repeat="n in states" value="{{n.id}}">{{n.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="city">City</label>
                <div class="col-lg-10">
                    <select class="form-control" type="text" id="city" ng-model="shipping.city">
                        <option>Select a City</option>
                        <option ng-repeat="a in city" value="{{a.id}}">{{a.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label" for="address">Address</label>
                <div class="col-lg-10">
                    <input class="form-control" type="text" id="address" placeholder="Address" ng-model="shipping.address">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Shipping Type</label>
                <div class="col-lg-10">
                    <select id="shippingType" class="form-control" ng-model="shipping.shippingTypeHolders" ng-change="onShippingChange()">
                        <option>Select a Shipping Type</option>
                        <option ng-repeat="ship in shippingTypeHolders" data-price="{{ship.valueType}}" value="{{ship.id}}">{{ship.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-10 col-lg-offset-2">Estimated shipping time: {{shipping.time}} </label>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Clean Data</button>
                    <button type="submit" class="btn btn-primary" ng-click="submitShippingData()">Next</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>