.slider {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    height: 400px; 
}
.slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 400px;
    list-style: none;
}
.slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ccc;
}
a.controlprev, a.controlnext {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}
a.controlprev:hover, a.controlnext:hover {
    opacity: 1;
}
a.controlprev {
    border-radius: 0 2px 2px 0;
}
a.controlnext {
    right: 0;
    border-radius: 2px 0 0 2px;
}
.slidercontainer {
    height: 400px;
    text-align: center;  
    font: 0/0 a;         
}
.slidercontainer:before {    
    content: ' ';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}
.element-slider {
    display: inline-block;
    vertical-align: middle;  
    font: 16px/1 Arial sans-serif;
}