<div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>                   
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th ng-if="ctrl.recordActions">Actions</th>
                </tr>
            </thead>
            <tbody ng-repeat="record in records">
                <tr>
                    <td><div>{{record.name}}</div></td>
                    <td><div>{{record.email}}</div></td>
                    <td><div>{{record.phone}}</div></td>
                    <td><button ng-repeat="(key, action) in ctrl.recordActions" id="{{record.id}}-{{key}}" class="btn btn-default btn-sm" ng-show="action.show()" ng-click="action.fn(record)"><span class="glyphicon glyphicon-{{action.icon}}"></span> {{action.displayName}}</button></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <pagination ng-show="ctrl.numPages > 1" num-pages="ctrl.numPages" total-items="ctrl.totalItems"
                        ng-model="ctrl.currentPage" ng-change="ctrl.pageChanged()" items-per-page="ctrl.itemsPerPage"
                        max-size="ctrl.maxSize" class="pagination-md" boundary-links="true" rotate="false"></pagination>
        </div>
    </div>
</div>